<div class="center jumbotron">
  <h1>DF World Info</h1>

  <h2>
    This is the home page for the app.
    Don't have Dwarf Fortress? <a href="http://www.bay12games.com/dwarves/">Get it here</a>
  </h2>

</div>
