<div class="center jumbotron">
  <h1>
    <%= @artifact.name.titleize %>
  </h1>
</div>
<div class="center jumbotron">
  <h2>
    <p>Item: <a href="http://dwarffortresswiki.org/index.php/DF2014:<%= @artifact.item %>"><%= @artifact.item.titleize %></a></p>
  </h2>
</div>
