<div class="center jumbotron">
  <h1>
    <%= @underground_region.underground_region_type.titleize %>
  </h1>
</div>
<div class="center jumbotron">
  <h2>
    <p>Type: <a href="http://dwarffortresswiki.org/index.php/DF2014:<%= @underground_region.underground_region_type %>"><%= @underground_region.underground_region_type.titleize %></a></p>
    <p>Depth: <%= @underground_region.depth %>
  </h2>
</div>
