<p><a href="/historical_figure/<%= historical_figure_link.link_id %>"><%= historical_figure_link.link.name.titleize %></a></p>
<p>Relationship: <%= historical_figure_link.link_type.titleize %> </p>
<p>Link Strength: <%= historical_figure_link.link_strength %></p>
