<p><a href="/historical_figure/<%= historical_figure.links.link_id %>"><%= historical_figure.name.titleize %></a></p>
<p>Relationship: <%= historical_figure.links.link_type %> </p>
<p>Link Strength: <%= historical_figure.links.link_strength %></p>
