<div class="center jumbotron">
  <h1>
    <%= @site.name.titleize %>
  </h1>
</div>
<div class="center jumbotron">
  <h2>
    <p>Type: <a href="http://dwarffortresswiki.org/index.php/DF2014:<%= @site.site_type %>"><%= @site.site_type.titleize %></a></p>
    <p>Coordinates: <%= @site.coords %>
  </h2>
</div>

