<div class="center jumbotron">
  <h1>
    <%= @region.name.titleize %>
  </h1>
</div>
<div class="center jumbotron">
  <h2>
    <p>Type: <a href="http://dwarffortresswiki.org/index.php/DF2014:<%= @region.region_type %>"><%= @region.region_type %></a></p>
  </h2>
</div>
